/*
* ----------------------------------------------------------------------------------------
* 2. Preloader
* ----------------------------------------------------------------------------------------
*/

.preloader {
  text-align: center;
  position: fixed;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: 999;
  height: 100%;

  .spinner-grow {
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
  }
}
