// :: 1.0 Fonts
$font-family: "Poppins", sans-serif;

// :: 2.0 Template Colors
// Primary Color
$primary: #231F20;

// White Color
$white: #ffffff;

// Dark Color
$dark: #000000;

// Dark Border Color
$darkborder: #DDD;

